/*
	Colors

	Lapis Azuli: 		#247BA0
	Green Sheen: 		#70C1B3
	Sea Foam Green: 	#B2DBBF
	Very Pale Yellow: 	#F3FFBD
	Awesome: 			#FF1654

	Fonts
		Pixelada: 	font-family: 'Press Start 2P', cursive; (<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">)
		Resto:		font-family: 'Exo', sans-serif;	 (<link href="https://fonts.googleapis.com/css?family=Exo:300i,400,700" rel="stylesheet">)
	
*/

/* SIDE PIC */
	
.avatar {
	float: right;
	position: absolute;
	top: 4em;
	right: 0.5em;
	width: 30%;
	height: 60%;
}

figcaption {
	font-style: italic;
	text-align: right;
}
