/*
	Colors

	Preto do menu: 			#181e1a
	Background do site: 	#fcfff2
	Verde:					#7cc1b6
	Azul:					#5088a0
	Vermelho:				#af163f

	Font
		font-family: 'Exo', sans-serif;	 (<link href="https://fonts.googleapis.com/css?family=Exo:300i,400,700" rel="stylesheet">)
	
*/

/* SIDE PIC */
	
.avatar {
	float: right;
	position: absolute;
	top: 4em;
	right: 0.5em;
	width: 30%;
	height: 60%;
	margin-bottom: 5em;
}

figcaption {
	font-size: 60%;
	color: rgba(157, 157, 157, 1);
	background-color: inherit;
	text-align: left;
}